/* ================= THEMES ================= */

/* Knockboard  */
body.theme-knockboard {
  --accent: #000000;
  --text: #f8f8f8;
  --bg: #000000;
  --hero-bg: url("../knockboard/assets/backgroundHero.png");
  --hero-size: 25vw;
}

/* Manu Gonzalez */
body.theme-manugonzalez {
  --accent: #00ff99;
  --hero-bg: url("../manugonzalez/assets/hero.jpeg");
  --hero-size: 30vw;
}

/* Apneuma  */
body.theme-apneuma {
  --accent: #282828;
  --text: #f8f8f8;
  --bg: #000000;
  --hero-bg: url("../apneuma/assets/backgroundHero.png");
  --hero-size: 25vw;
}

/* Subnormal  */
body.theme-subnormal {
  --accent: #282828;
  --text: #f8f8f8;
  --bg: #000000;
  --hero-bg: url("../subnormal_demo/assets/hero.png");
  --hero-size: 25vw;
}

/* Nacho Pintos  */
body.theme-nachopintos {
  --accent: #a78080;
  --text: #843b3b;
  --bg: #d0d0d0;
  --hero-bg: url("../nachopintos/assets/hero.jpg");
  --hero-size: 25vw;
}
