/* ================= RESET BASE ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #0a0a0a;
  --text: #ffffff;
  --hero-bg: url("../../multimedia/defaulthero.png");
  --hero-size: 25vw;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
