:root {
  --bg: #0a0a0a;
  --text: #ffffff;
  --hero-bg: url("../../multimedia/defaulthero.png");
  --hero-size: 25vw;
}

body.theme-knockboard {
  --hero-bg: url("knockboard\assets\KB.png");
}

body.theme-manuGonzalez {
  --hero-bg: url("manugonzalez/assets/hero.jpeg");
}
